html 
{
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
body
 {
     margin :0;
     background-color: rgb(12, 141, 141);
     font-family: sans-serif;
 }
/*-------------------------------------------*/
/* Style tab links */

.tablink
{
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 20px;
    width: 25%;
    font-family: sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.sticky 
{
    position: fixed;
    top: 0;
    width: 100%;
}
.tablink:hover 
{
    background-color: rgb(1, 128, 167);
}
  
  /* Style the tab content  */
.tabcontent 
{
    color: white;
    display: none;
    padding: 100px 20px;
    height: auto;
    animation: fadeEffect 0.5s; 
    
}
  @keyframes fadeEffect 
{
    from {opacity: 0;}
    to {opacity: 1;}
}
/*adding back-clr to tabs*/
  #Simple {background-color: rgb(97, 37, 37);}
  #Continuous{background-color: rgb(49, 110, 49);}
  #Perfect{background-color: rgb(65, 65, 134);}
  #PerfectContinuous{background-color: rgb(122, 124, 6);}
/*-------------------------------------------*/
  /*adding style for header*/
#header
{ 
    background:#fff; 
}
#header-inner
{ 
    margin:0 auto;
    padding-bottom:10px; 
    width:1200px; 
    background-image: url('Sources/img/header.jpg');
    
    background-size:cover;
    font-size:45px;
}
/*-------------------------------------------*/
/* style For Logo */
#logo 
{ 
    padding:0px; 
    width:auto; 
    float:left;
}
#logo h1 a
{ 
    color:#fdfdfd; 
    text-decoration:none;
}
#logo h1 span 
{
    color:#005f85;
}
#logo h1 a:hover
{
    cursor:pointer;
}
#logo h1 span:hover
{
    cursor:pointer;
}


/*-------------------------------------------*/
/* main content */
.content 
{
    background:rgb(255, 255, 255);
    max-width: 1200;
    margin: auto;
    box-shadow: 0 4px 8px 0  rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
}
/*-------------------------------------------*/

.clr 
/* crear previous styles */
{ 
    clear:both; 
    padding:0; 
    margin:0; 
    width:100%; 
    font-size:0px; 
    line-height:0px;
}
/*-------------------------------------------*/
#page 
{ 
    background-color: rgb(12, 141, 141);
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: 100%;
}
/*-------------------------------------------*/

#video
{
    padding-left:100px;
}
.bars 
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}


/*sub headings*/
#subheads 
{
    font-size:25px; 
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
}
/*-------------------------------------------*/
/*paragraphs*/
#para 
{
    padding:10px;
    text-align: justify;
    font-size:19px; 
    font-family: sans-serif;
}
/*-------------------------------------------*/
#h3
{
    text-align: center;
    font-size:23px; 
}

/* 12 parts */
.feature 
{ 
    background:rgb(255, 255, 255);
    padding:0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.feature-inner 
{ 
    margin:auto;
    padding:0px;
    width:1200px;
    height:50px;
    background:rgb(120, 121, 126); 
}
.feature-inner h1 
{
    color:#ffffff;
    font-size:40px;
}
.feature-inner h1 span 
{
    color: #c1cf00;
}
/*----------------------------------------------------- */

/*list*/
#list
{
    padding:10px;
}
.column2 
    {
    float: left; 
    width: 50%;
}

/* Clear floats after the columns */
.row:after 
{
    content: "";
    display: table;
    clear: both;
}
.column3 
{
    float: left;
    width: 33.33%;
}
.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 30px;
    transition: transform .2s;
}
.center:hover 
{
    transform: scale(1.1);
}
/*zoom image*/
.zoom
{
    display: block;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    transition: transform .2s;
}
.zoom:hover 
{
    transform: scale(1.1);
} 

/*-------------------------------------------*/
/*menu*/
/* Dropdown Button */
.dropbtn 
{
    background-color: #31312f;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width:250px;
    font-family: sans-serif;
}
  
  
.dropdown 
{
    position: relative;
    display: inline-block;
}
  
  /* Dropdown Content */
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /* Links inside the dropdown */
  
.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: sans-serif;
}
  
  
.dropdown-content a:hover {background-color: #ddd;}
  
 
.dropdown:hover .dropdown-content {display: block;}
  
  
.dropdown:hover .dropbtn {background-color: rgb(1, 128, 167);}

.tense
{   
    
    font-size: 16px;
    color: #000000;
    margin-bottom: 5px;
    border-radius: 15px;
    padding: 5px;
    padding-left: 25px;
    cursor: pointer;
    background-color: rgb(174, 175, 175);
    transition: transform .2s;
    max-width: 400px;
    animation: animateBackground 3s ease;
    animation-fill-mode: backwards;
}
    

@keyframes animateBackground{
    0%{
   transform: translateX(-10%); 
    }
    100%{
    transform : translateX(0%); 
    }
}
.tense:hover
{
    background-color: rgb(0, 94, 148);
    color: #ffffff;
    transform: scale(1.1);
}  
.speech
{
    font-size: 16px;
    color: #000000;
    margin-bottom: 5px;
    border-radius: 15px;
    padding: 5px;
    padding-left: 25px;
    cursor: pointer;
    background-color: rgb(174, 175, 175);
    transition: transform .2s;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-align: center;
    
}
  
.speech:hover
{
    background-color: rgb(2, 175, 31);
    transform: scale(1.1);
    
}