body
{
		height:5350px;
		margin-left: 75;
		margin-right: 70;
		background-color: white;
}
.image{
	background-image: url("wall3.jpg");
	background-position: center;
	height: 500px;
	background-size: cover;

}
#intro
{
	text-align: center;
	position: absolute;
	color:dodgerblue;
	line-height: 28px;	
	/*top: 100%;*/
	left: 50%;
	width:85%;
	height: -70%;
	transform: translate(-50%, -50%); /*apply for 2d or 3d tranformation*/
}
.speechImage{
	top:500%;
	left:50%;
	background-image: url("speech1.jpg");
	background-position: center;
	height: 50px;
	width:500px;
	background-size: cover;

}
.parts
{
	margin: 30px 50px;
}
.parts img
{
	transition: 1.5s;
	padding: 15px;
	width: 250;
	-webkit-filter: grayscale(100%) !important;
	filter: grayscale(100%) !important;

}
.parts img:hover
{
	filter: grayscale(100%);
	transform: scale(2.2);
	-webkit-filter: grayscale(0) !important;
	filter: grayscale(0) !important;
}
.list
{
	line-height: 30px;
}
.each
{
	font-size: 18px;
	line-height: 30px;
	

}
.eachTD1
{
	width:820px;
}
.eachTD2
{
	width:500px;
}
footer {

	
	left: 0;
	bottom: 0;
	width: 100%;
    height:-200px;
	background-color: LightGray;
	color: white;
	text-align: center;
 }
 .transNoun
 {
	background-color: antiquewhite;
	 opacity: 0.7;
 }
 .transPro
 {
	 background-color: tan;
	 opacity: 0.75;
 }
 .transVerbs
 {
	background-color: rosybrown;
	 opacity: 0.75;
 }
 .transAdjectives
 {
	background-color: pink;
	 opacity: 0.7;
 }
 .transAdverbs
 {
	background-color: plum;
	 opacity: 0.75;
 }
 .transPreoposition
 {
	background-color: palegreen ;
	 opacity: 0.75;
 }
 .transConjunctions
 {
	  background-color: paleturquoise;
	 opacity: 0.75;
 }
 .transInterjection
 {
	background-color: olivedrab;
	 opacity: 0.8;
 }

 .btnPop
 {
	background-color: black;
	padding: .7em;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 6px;
	color:white;
	font-family: 'Oswald';
	font-size: 17px;
	text-decoration: none;
	border: none;
 }
 .btnPop:hover
 {
	border: none;
	background:silver;
	box-shadow: 0px 0px 1px #777;
 }
.btnHighlight
{
	background-color: black; 
	padding: .5em;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 6px;
	color: white;
	font-family: 'Oswald';
	font-size: 17px;
	text-decoration: none;
	border: none;
} 
.btnHighlight:hover
{
	border: none;
	background: silver;
	box-shadow: 0px 0px 1px #777;
}
 