body
{
		/*height:4000px;*/
		margin-left: 75;
		margin-right: 70;
		background-color: white;
}
.image{
	background-image: url("wall3.jpg");
	background-position: center;
	height: 500px;
	background-size: cover;

}
#intro
{
	text-align: center;
	position: absolute;
	color:dodgerblue;
	line-height: 28px;	
	/*top: 100%;*/
	left: 50%;
	width:85%;
	height: -70%;
	transform: translate(-50%, -50%); /*apply for 2d or 3d tranformation*/
}
.speechImage{
	top:500%;
	left:50%;
	background-image: url("speech1.jpg");
	background-position: center;
	height: 50px;
	width:500px;
	background-size: cover;

}
.parts
{
	margin: 30px 50px;
}
.parts img
{
	transition: 1.5s;
	padding: 15px;
	width: 175;
	-webkit-filter: grayscale(100%) !important;
	filter: grayscale(100%) !important;

}
.parts img:hover
{
	filter: grayscale(100%);
	transform: scale(2.2);
	-webkit-filter: grayscale(0) !important;
	filter: grayscale(0) !important;
}
#list
{
	line-height: 30px;
}
.each
{
	font-size: 18px;
	line-height: 30px;
	

}
.eachTD1
{
	width:820px;
}
.eachTD2
{
	width:500px;
}