
body{

    margin: 0;
    background-color:#CD5C5C;
}

h2{
    color: rgb(158, 62, 62);
    font-size: x-large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 3px 3px 0px rgba(150, 150, 150, 1);
}

.loginForm{

    padding-top:150px;
    background-color: #E9967A;
    color: aliceblue;
    width: 500px;
    height:400px ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    
  }
  
  .loginTxt{
  
    width:250px;
    height:30px;
    border-radius:5px ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    font-size: larger;
  }
  
  .loginBtn{
  
    width:250px;
    height:50px ;
    background-color: #CD5C5C;
    border-radius: 5px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: large;
    box-shadow: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  }


  .lbl{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color:rgb(158, 62, 62);;
    text-shadow: 5px 0px 6px rgba(150, 150, 150, 1);
    font-weight: bold;
    
  }