html {
    scroll-behavior: smooth;
  }
  
  
  body {
      margin: 0;
      
  }
  
  
  .MainBanner
  {
              
    background:#CD5C5C;
              width:100%;
              height:70px;
              
              font-size:30px;
              text-align:center;
              color:#E9967A;
              padding: 80px 0px 10px 0px;
        font-family: Cambria;
        font-weight: bold;
              
  }
  
  .menu
      {
          width:150px;
          height:30px;
          text-decoration:none;
          transition:0.5s;
          padding-left:25px;
          padding-top:10px;
          background:#CD5C5C;
          border-radius: 20px;
          
      }
      
      
      .menu:hover
      {
          width:150px;
          height:30px;
      
          background :#b8ffb3;
          padding-left:25px;
          border-radius: 20px;
  
      }
  
      .txt
      {
          height:30px;
          width:300px;
          border-radius: 5px;
          border-color:#5fd145;
      }
  
      .btnSub
      {
          height:30px;
          width:100px
         
      }
  
  
  
      .botBanner
      {
        background:#CD5C5C;
              width:100%;
              height:150px;
              padding-top:4px;
              font-size:15px;
              text-align:center;
              color:white;
  
              
      }
  
      .menuLink
      {
          text-decoration:none;
          color:black;
         
      }
  
  
   
  .menuList
  {
   
    text-decoration: none; 
    width:100%;
    height:53px;
    background-color:#CD5C5C;
    position: fixed;
    top: 0;
    
   
  }
  
  .menuTD
  {
    text-align: center;
    width:120px;
    height:50px;
    color: #E9967A;
    font-family: Franklin Gothic Medium;
  
    
  }
  .menuTD:hover
  {
    text-align: center;
    width:120px;
    height:50px;
    color:white;
    background-color:#F08080;
  
    
  }
  .cc
  {
    color:white;
    text-decoration: wavy;
  }
  
  #section0 {
    height:700px;
    background-color:#F2F3F4;
  }
  
  #section1 {
    height:700px;
    background-color:white;
  }
  
  #section2 {
    height: 700px;
    background-color: #F2F3F4;
  }
  #section3 {
    height: 700px;
    background-color: white;
  }
  
  #section4 {
    height: 700px;
    background-color: #F2F3F4;
  }
  #section5 {
    height: 700px;
    background-color: white;
  }
  
  #section6 {
    height: 700px;
    background-color: #F2F3F4;
  }
  #section7 {
    height: 700px;
    background-color: white;
  }
  
  #section8 {
    height: 700px;
    background-color: white;
  }
  
  
  
  h2
  {
    padding:40px 0px 0px 40px ;
    color:black;
    font-family: 'Courier New', Courier, monospace;
    
  }
  
  h3
  {
    padding-left:40px ;
    color:black;
    font-family: 'Courier New', Courier, monospace;
  }
  
  p
  {
    text-align: justify;
    padding-left:40px ;
    font-size: medium;
    font-weight: bold;
    font-family: 'Trebuchet MS';
  }
  
  ul
  {
    
    
    font-size: medium;
    font-weight: bold;
    padding-left:55px ;
    font-family: 'Trebuchet MS';
  }
  
  .img
  {
    width:350px;
    height:250px;
  }
  
  .headline
  {
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #CD5C5C;
  }