html {
    scroll-behavior: smooth;
  }
  
  
  body {
      margin: 0;
      background-color:silver;
  }

  .page
  {
    padding-left:70px;
    padding-right:70px;
  }
  
  
  .MainBanner
  {
              
    background:#CD5C5C;
    width:100%;
    height:70px;
              
    font-size:30px;
    text-align:center;
    color:white;
    padding: 60px 0px 20px 0px;
    font-family: Cambria;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    margin-bottom:10px;     
  }
  
  .menu
      {
          width:150px;
          height:30px;
          text-decoration:none;
          transition:0.5s;
          padding-left:25px;
          padding-top:10px;
          background:#CD5C5C;
          border-radius: 20px;
          
      }
      
      
      .menu:hover
      {
          width:150px;
          height:30px;
      
          background :#b8ffb3;
          padding-left:25px;
          border-radius: 20px;
  
      }
  
      .txt
      {
          height:30px;
          width:300px;
          border-radius: 5px;
          border-color:#5fd145;
      }
  
      .btnSub
      {
          height:30px;
          width:100px
         
      }
  
  
  
      .botBanner
      {
        background:#CD5C5C;
              width:100%;
              height:150px;
              padding-top:4px;
              font-size:15px;
              text-align:center;
              color:white;
            
              
      }
  
      .menuLink
      {
          text-decoration:none;
          color:black;
         
      }
  
  
   
  .menuList
  {
   
    text-decoration: none; 
    width:100%;
    height:45px;
    background-color:#CD5C5C;
    padding-top:10px;
    top:0;
    
   
  }
  
  .menuTD
  {
    
    width:180px;
    height:40px;
    color: #E9967A;
    font-family: Franklin Gothic Medium;
    background-color:#CD5C5C;
    
  }
  .menuTD:hover
  {
    
    width:180px;
    height:40px;
    color:white;
    transition: 0.1s;
    color: #E9967A;
    background-color:#E9967A;
  }
  .cc
  {
    color:white;
    text-decoration: wavy;
  }
  
  #section0 {
    height:700px;
    background-color:white;
  }

  #section {
    height:1000px;
    background-color:white;
  }
  
  #section1 {
    height:700px;
    background-color:#F2F3F4;
  }
  
  #section2 {
    height: 700px;
    background-color: white;
  }
  #section3 {
    height: 700px;
    background-color: #F2F3F4;
  }
  
  #section4 {
    height: 700px;
    background-color: white;
  }
  #section5 {
    height: 700px;
    background-color: #F2F3F4;
  }
  
  #section6 {
    height: 700px;
    background-color: white;
  }
  #section7 {
    height: 700px;
    background-color: #F2F3F4;
  }
  
  #section8 {
    height: 700px;
    background-color: white;
  }
  #section9 {
    height:700px;
    background-color:#F2F3F4;
  }
  
  #section10 {
    height: 700px;
    background-color: white;
  }
  #section11 {
    height: 700px;
    background-color: #F2F3F4;
  }
  
  #section12 {
    height: 700px;
    background-color: white;
  }
  
  
  
  h2
  {
    padding:20px 0px 0px 40px ;
    color:#CD5C5C;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 2px 4px ;
  }
  
  h3
  {
    padding-left:40px ;
    color:black;
    font-family: 'Courier New', Courier, monospace;
  }
  
  p
  {
    text-align: justify;
    padding-left:40px ;
    font-size: medium;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    padding-right: 40px;
  }
  
  ul
  {
    
    
    font-size: medium;
    font-weight: bold;
    padding-left:55px ;
    font-family: 'Trebuchet MS';
  }
  
  .img
  {
    width:350px;
    height:250px;
  }
  
  .headline
  {
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #CD5C5C;
    font-size:30px;
    text-align:center;
    padding-right:100px;
  }


  /* dropdown list*/

  .dropbtn {
    background-color: #CD5C5C;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #CD5C5C;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  
  .dropdown-content a {
    color: white;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: small;
  }
  
  .dropdown-content a:hover {
    background-color: #F08080;
   
   
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
   
  }
  
  .dropdown:hover .dropbtn {
    background-color: #CD5C5C;
    
  }


  .hd
  {
    color:white;
    font-size: 30px;
    padding-top:60px ;
    background-color: #CD5C5C;
    text-align:center;
    padding-bottom:10px;
  }

  .pic
  {
   border: 0;
  
  }

  .pic:hover
  {
    width:250px ;
    height:200px ;
    transition: 0.5s;
  
  }

  /*tables*/

  .able {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }
  
  .d {
    border: 1px solid #CD5C5C;
    text-align: left;
    padding: 8px;
    font-weight: bold;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  }
  
  .r:nth-child(even) {
    background-color: #E9967A;
  }

h4
{
  padding-left:65px;
  padding-right:30px ;
}



/* flip tile */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  background-color:#CD5C5C;
  width: 230px;
  height: 280px;
  perspective: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  padding-right:30px ;
  text-justify: auto;
  color:white;
  border-radius: 5px;
}
.card:hover{
  background-color:#CD5C5C;
  width: 230px;
  height: 280px;
  perspective: 1000px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
  transition: 0.5s;
  text-shadow : 2px 2px black;
  
}

.mre
{
  padding-left:40px ;
  text-align: right;
  color: gold;
  font-weight: bold;
  font-family:Lucida Sans;
 
}

.mre:hover
{
  padding-left:40px ;
  text-align: right;
  color:yellow;
  font-weight: bold;
  font-family:Lucida Sans;
 
}

.tileDes
{
  padding-left:30px; 
  padding-right:20px;
  text-justify: auto;
}

.tileHead
{
  text-align: left;
  font-size: large;
  font-family: Lucida Sans;
}


/* menu bar */


.ull {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #CD5C5C;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.lii {
  float: left;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.lii a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Franklin Gothic Medium;
}

.lii a:hover:not(.active) {
  background-color: #E9967A;
}

.active {
  background-color: #E9967A;
}