.clearfix{ overflow: auto }

.wrapper{
    margin: 0 auto;
    width: 1100px;
    margin-top: 70px;
    border-radius: 8px;
    background-color: rgb(252, 250, 224);
    box-shadow: 0px 0px 10px grey;
}

a {
    text-decoration: none;
}

.top-bar{
    width: 1100px;
    position: fixed;
    z-index: 1;
    top: 0px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px grey;
    background-image: linear-gradient(black, rgb(32, 32, 32),black);
}

.top-bar-title h1 {
    margin: 10px;
    text-align: center;
    font-size: 35px;
    font-family: Arial;
    color: rgb(255, 255, 242);
}

.intro{
    width: 1000px;
    margin: 50px;
}

@keyframes imgteacher {
    from {transform: rotate(1deg);}
    to {transform: rotate(-1deg);}
  }

.introimage{
    margin: 25px 0 25px 0;
    float: left;
    animation-name: imgteacher;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.introtext{
    width: 650px;
    float: left;
}

.introtext h1{
    margin-top: 70px;
    margin-left: 35px;
    margin-bottom: 0px;
    font-size: 90px;
}

.introtext a:hover{
    background: rgb(190, 184, 241);
    font-size: 23px;
    color: maroon;
}


.introtext p{
    margin-left: 35px;
    font-size: 20px;
}

.main-chart{
    width: 1100px;
}

.present-btn, .past-btn, .future-btn{
    float: left;
    width: 225px;
    height: 70px;
    margin: 25px 0 0 105px;
    border-radius: 7px;
    background: black;
    color: white;
    text-align: center;
    font-family: arial;
    font-size: 25px;
}

.present-sub, .past-sub, .future-sub{
    display: none;
    position: absolute;
}

.present-sub a, .past-sub a, .future-sub a{
    background:  rgb(9, 8, 77);
    color: white;
    margin: 110px 0 20px 15px;
    padding: 20px 10px;
    border-radius: 7px;
    font-family: arial;
    font-size: 17px;
    text-align: center;
}

.present-sub a{
    float: left;
    position: relative;
    left: 0px;
}

.past-sub a{
    float: left;
    position: relative;
    left: 225px;
}

.future-sub a{
    float: left;
    position: relative;
    left: 395px;
}

.present:hover .present-sub{
    display: block;
}

.past:hover .past-sub{
    display: block;
}

.future:hover .future-sub{
    display: block;
}

.b{
    
}
