html{
    height: 100%;
    margin: 0;
}

body{
    height: 100%;
    margin: 0;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
canvas{
    border: 1px solid white;
}