body {
background: url("indexPhoto.jpg") no-repeat;
background-size: cover;
font-family: Arial, Helvetica, sans-serif;
color: white;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
   }
ul li{
        float: left;
        width: 337.5px;
        height: 40px;
        background-color: black;
        opacity: .6;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        
        }

ul li a:hover{
    background-color: green;

}
ul li ul li{
display: none;
}
ul li:hover ul li{

    display: block;
}