body{
	background: #4ec7ff;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
  background-image: url("images/back.jpg");
  background-repeat: no-repeat;

}
.pagetitle{
    margin: 0 auto;
    display: block;
	
}
.pagetitle nav h1{
  transition:1s;
  text-align: left;
  color: rgb(255, 255, 255);
  font-family: Ink Free;
  font-size: 25px;
  margin-left: 10px;
}
.pagetitle nav{
	height: 80px;
  background:rgb(10, 13, 14);
  box-shadow: 0 10px 15px rgba(0,0,0,.1);
  border-bottom:5px #a6ddf7;
	line-height: 75px;
  margin-top: -15px;
  
}
.pagetitle nav ul{
	transition:.5s;
	padding: 0;
	margin: 0;
	float: right;
  margin-right: 30px;
  margin-top:-90px;
  font-family: Ink Free;
}
.pagetitle nav ul li{
  background: rgba(22, 20, 20, 0.925);
  box-shadow: 5px 5px 10px rgba(39, 38, 38, 0.986);
	position: relative;
	list-style: none;
  display: inline-block;
  
}
.pagetitle nav ul li a{
	display: block;
	padding: 0 20px;
	color: white;
	line-height: 50px;
	font-size: 19px;
}
 .pagetitle nav ul li a:hover{
  background: #FBBB1B;
  color: black;
  font-weight:bold ;
}
.box1{
    width: 800px;
    height: 400px;
    padding: 40px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:rgba(0,0,0,0.7);
    color: #fff;
    text-align: center;
    margin-top:1200px;
    border: 1px;
   margin-left: auto;
   background-image: url("images/dark.jpg");
  }
  .box1 h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
  }
  .box1 input[type = "button"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: #FBBB1B;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .box1 input[type = "button"]:hover{
    background: #2ecc71;
    color: white;
   
  }
  .containerTitle {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    
  }
  #textcontainer{
    margin-top: 1750px;
  }
  .container{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    margin-top: 860px;
  }
  a{
    text-decoration:none;
  }
  .container span{
    text-transform: uppercase;
    display: block;
    
    
  }
  .textcontainer{
    color: rgba(0, 0, 0, 0.986);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 8px;

    
    
    position: relative;
    animation: text 3s 1;
    font-family: serif;
  }
  .containerr{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
  
  
  }
  .containerr span{
    text-transform: uppercase;
    display: block;
    
  }
  .text1{
    color: white;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: #97B9C5;
    position: relative;
    animation: text 3s 1;
      font-family: serif;
  }
  .text2{
      background: transparent;
    font-size: 25px;
    color:  #3E3623;
    font-family: serif;
  }

  .title-box{
	text-align: left;
    font-family: Ink Free;
	padding: 0 15px;
	color: black;
	text-decoration: none;
	line-height: 30px;
	font-size: 19px;
    transition: .5s;
}
.info-box{
    text-align: justify;
    font-size: 20px;
    font-family: Catamaran;
   
}
.noun-box{
    padding: 60px 0px;
    width: 1000px;
    height: 350px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:rgb(255, 255, 255);
    color: rgb(20, 20, 20);
    text-align: center;
    margin-top:1700px;
    border: 1px;
   margin-left: auto;
   box-shadow: 0 10px 15px rgba(0, 0, 0, 0.884);
}
.pronoun-box{
    padding: 70px 0px;
    width: 1000px;
    height: 350px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:rgb(255, 255, 255);
    color: rgb(20, 20, 20);
    text-align: center;
    margin-top:2200px;
    border: 1px;
   margin-left: auto;
   box-shadow: 0 10px 15px rgba(0, 0, 0, 0.884);
}
.verb-box{
    padding: 70px 0px;
    width: 1000px;
    height: 350px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:rgb(255, 255, 255);
    color: rgb(20, 20, 20);
    text-align: center;
    margin-top:2700px;
    border: 1px;
   margin-left: auto;
   box-shadow: 0 10px 15px rgba(0, 0, 0, 0.884);
}
.adjective-box{
    padding: 70px 0px;
    width: 1000px;
    height: 350px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:rgb(255, 255, 255);
    color: rgb(20, 20, 20);
    text-align: center;
    margin-top:3200px;
    border: 1px;
   margin-left: auto;
   box-shadow: 0 10px 15px rgba(0, 0, 0, 0.884);
}
.adverbs-box{
    padding: 70px 0px;
    width: 1000px;
    height: 350px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:rgb(255, 255, 255);
    color: rgb(20, 20, 20);
    text-align: center;
    margin-top:3700px;
    border: 1px;
   margin-left: auto;
   box-shadow: 0 10px 15px rgba(0, 0, 0, 0.884);
}
.prepositions-box{
    padding: 70px 0px;
    width: 1000px;
    height: 350px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:rgb(255, 255, 255);
    color: rgb(20, 20, 20);
    text-align: center;
    margin-top:4200px;
    border: 1px;
   margin-left: auto;
   box-shadow: 0 10px 15px rgba(0, 0, 0, 0.884);
}
.conjunctions-box{
    padding: 70px 0px;
    width: 1000px;
    height: 350px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:rgb(255, 255, 255);
    color: rgb(20, 20, 20);
    text-align: center;
    margin-top:4700px;
    border: 1px;
   margin-left: auto;
   box-shadow: 0 10px 15px rgba(0, 0, 0, 0.884);
}
.interjections-box{
    padding: 70px 0px;
    width: 1000px;
    height: 350px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:rgb(255, 255, 255);
    color: rgb(20, 20, 20);
    text-align: center;
    margin-top:5200px;
    border: 1px;
   margin-left: auto;
   box-shadow: 0 10px 15px rgba(0, 0, 0, 0.884);
}
.footer1 {
    left: 0;
    bottom: 0;
    width: 100%;
    height:100px;
    background-color: rgb(95, 95, 95);
    color: white;
    text-align: center;
    margin-top:5700px;
 }