
html 
{
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}
  
  /* Style tab links */

.tablink
{
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 20px;
    width: 25%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sticky 
{
    position: fixed;
    top: 0;
    width: 100%;
}
.tablink:hover 
{
    background-color: rgb(1, 128, 167);
}
  
  /* Style the tab content  */
.tabcontent 
{
    color: white;
    display: none;
    padding: 100px 20px;
    height: auto;
    animation: fadeEffect 0.5s; 
}
  @keyframes fadeEffect 
{
    from {opacity: 0;}
    to {opacity: 1;}
}
  
  #Simple {background-color: rgb(97, 37, 37);}
  #Continuous{background-color: rgb(49, 110, 49);}
  #Perfect{background-color: rgb(65, 65, 134);}
  #PerfectContinuous{background-color: rgb(122, 124, 6);}
  
header
{ 
    background:#fff; 
}
#header-inner
{ 
    margin:0 auto;
    padding:10px; 
    width:1180px; 
    background-image:url('img/header.jpg');
    background-size:cover;
    font-size:45px;
}
/* style For Logo */
#logo 
{ 
    padding:0px; 
    width:auto; 
    float:left;
}
#logo h1 a, h1 a:hover 
{ 
    color:#9b0606; 
    text-decoration:none;
}
#logo h1 span 
{
    color:#ffc300;
}
.content 
{
    background:rgb(255, 255, 255);
    max-width: 1200;
    margin: auto;
    box-shadow: 0 4px 8px 0  rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.clr 
{ 
    clear:both; 
    padding:0; 
    margin:0; 
    width:100%; 
    font-size:0px; 
    line-height:0px;
}
#page 
{ 
    background-image:url('img/pattern.jpg'); 
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: 100%;
}




/*sub headings*/
#subheads 
{
    font-size:25px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-decoration: underline;
}

/*paragraphs*/
#para 
{
    padding:10px;
    text-align: justify;
    font-size:19px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#h3
{
    text-align: center;
    font-size:23px; 
}

/* 12 parts */
.feature 
{ 
    background:rgb(255, 255, 255);
    padding:0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.feature-inner 
{ 
    margin:auto;
    padding:0px;
    width:1200px;
    height:50px;
    background:rgb(120, 121, 126); 
}
.feature-inner h1 
{
    color:#9b0606;
    font-size:40px;
}
.feature-inner h1 span 
{
    color: #ffc300;
}
/*----------------------------------------------------- */

/*list*/
#list
{
    padding:10px;
}
.column2 
    {
    float: left; 
    width: 50%;
}

/* Clear floats after the columns */
.row:after 
{
    content: "";
    display: table;
    clear: both;
}
.column3 {
    float: left;
    width: 33.33%;
  }
  
