#frame1{
   
   
    width: 370px;
    height: 180px;
    background-color: blueviolet;
    border-width: 1px;
    border-color: black;
    padding: 10px;
  

}

#frame2{
   
  
    width: 370px;
    height: 180px;
    background-color: gray;
    border-width: 1px;
    border-color: black;
    padding: 10px;
}

.btn{

    width:40px;
    height:30px ;
    font-weight: bold;
    
}