
.container {
    overflow: auto;
    height: 340px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: rgb(203, 249, 255);
    padding: 20px;
    box-shadow: 0px 0px 14px rgb(189, 189, 189);
}

.title {
    text-transform: uppercase;
    width: 960px;
    display: inline-block;
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    background:  #343432;
    margin: 10px 0 10px 10px;
    color:#fff;
    text-align: center;
    font-family: 'Lexend Deca';
    font-weight: bold;
    font-size: 40px;
}

.question {
    text-align: center;
    color: #343432;
    font-family: 'Lexend Deca';
    font-weight: normal;
    font-size: 24px;
    text-align: justify center;
    align-content: center;
    margin-top: 10px;
}

.option {
    width: 470px;
    display: inline-block;
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    background-color: #01C5FF;
    margin: 10px 0 10px 10px;
    color: #000000;
    border-radius: 20px;
    font-family: 'Lexend Deca';
    font-weight: normal;
    font-size: 21px;
  
}

.option:hover {
    background-color: #fff;
    color: black;
}


.nextButton {
    border: none;
    outline: none;
    background-color: #01C5FF;
    width: 250px;
    height: 55px;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    margin: 10px;
    font-family: 'Lexend Deca';
    font-weight: normal;
    font-size: 21px;
}

.nextButton:hover {
    background-color: #fff;
    color: black;
}

.result {
    height: 100px;
    text-align: center;
    font-size: 75px;
}

.option input:checked .option {
    background: #333;
    color: black;
}