body {
    background: rgb(217,217,217);
}

.container {
    height: 330px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border: 1px solid #333;
    box-shadow: 0 0 8px 3px #fff;
}

.title {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: #333;
}

.question {
    padding: 20px;
    font-size: 22px;
    background: #333;
    border-radius: 20px;
    margin: #f6f6f6;
}

.option {
    width: 470px;
    display: inline-block;
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    background: rgb(255,210,32);
    margin: 10px 0 10px 10px;
    color: #000000;
    border-radius: 20px;
}

.option:hover {
    background: #333;
    color: #f6f6f6;
}

.nextButton {
    border: none;
    outline: none;
    background: rgb(255,210,32);
    
    width: 150px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    margin: 10px;
    font-weight: bold;
}

.nextButton:hover {
    background: rgb(53, 53, 53,0.7);
    color: white;
}

.result {
    height: 100px;
    text-align: center;
    font-size: 75px;
}

.option input:checked .option {
    background: #333;
    color: black;
}