body{
    background-color:seashell;
    margin-left: 50px;
    margin-right: 50px;
}
/* header */
header.logo h1{
    font-variant: small-caps;
}

nav{
    width: 100%;
    background-color: black;
    text-align: left;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline;
}

nav ul li a{
    color: white;
    text-transform: uppercase;
    margin: 10px 10px 10px 10px;
    display: inline-block;
}

nav ul li a:hover{
    color: red;
}


html{
    scroll-behavior: smooth;
}


table {
    width: 100%;
    
}

table,th,td{
    border: 1px solid #000;
    border-collapse: collapse;
}

th,td{
    padding: 10px;
}

th{
    background-color: #000;
    color: white;
}

.td1{
    font-size: 45px;
    text-align: left;
}

td{
    font-size: 17px;
    text-align: center;
}


/* Quiz button */
.Quiz{
    display: inline-block;
    width: 220px;
    height: 60px;
    margin-left: 40%;
    margin-top: 50px;
    margin-bottom: 100px;
    border: 2px solid blue;
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    line-height: 56px;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: transparent;
    outline: none;
}

#tenses_Quiz a{
    text-decoration: none;
}

.Quiz:hover{
    position: relative;
    font-size: 22px;
    transition: all 1s;
}

/* Quiz button */


/* scroll button */
#back-to-top-btn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
    border: 3px solid #333;
    border-radius: 50px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property:background-color,color;
}

#back-to-top-btn:hover, #back-to-top-btn:focus{
    background-color: #333;
    color: #fff;
}
/* scroll button */