body{
    background-color:seashell;
    margin-left: 50px;
    margin-right: 50px;
}
/* header */
header.logo h1{
    font-variant: small-caps;
}

nav{
    width: 100%;
    background-color: black;
    text-align: left;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline;
}

nav ul li a{
    color: white;
    text-transform: uppercase;
    margin: 10px 10px 10px 10px;
    display: inline-block;
}

nav ul li a:hover{
    color: red;
}


html{
    scroll-behavior: smooth;
}


table {
    width: 100%;
    
}

table,th,td{
    border: 1px solid #000;
    border-collapse: collapse;
}

th,td{
    padding: 10px;
}

th{
    background-color: #000;
    color: white;
}

.td1{
    font-size: 45px;
    text-align: left;
}

td{
    font-size: 17px;
    text-align: center;
}

