html{
    scroll-behavior: smooth;
}
/*..........header.......*/

#header_topic{
    font-size: 26px;
    position: fixed;
    left: 131px;
    font-family: cursive;
    color: white;

}

header {
    background-color: #e49292;
    height: 54px;
    width: 100%;
    /* margin-top: 29px; */
    position: fixed;
    z-index: 3;
}

header>img {
    height: 106px;
    position: absolute;
    top: -8px;
    left: 17px;
}

/*......introduction......*/

#back1{
    width: 100%;
    margin-top: 44px;
}

#buttonul {
    position: absolute;
    top: 26vw;
    left: 2vw;
    background-color: black;
    /* padding: 10px 10px 10px 10px; */
    border-radius: 37px;
}
#buttonul>li {
    padding: 63px;
    display: table-row;
    /* list-style: none; */
}
.lessons{
    font-family: cursive;
    font-size: 31px;
    background-color: black;
    cursor: pointer;
}

#topic {
    color: wheat;
    font-family: cursive;
    font-size: 38px;
}

body>div{
    width: 100%;
    height: 92px;
    background-color: #e49292;
    position: relative;
    top: -71px;
    z-index: 1;
}

#maintopic {
    font-family: cursive;
    position: absolute;
    left: 2%;
    top: 60vw;
    font-size: 31px;
}

#p1 {
    font-family: cursive;
    font-size: 27px;
    position: absolute;
    left: 2%;
    top: 64vw;
}



#list1 {
    position: absolute;
    top: 76vw;
    left: 4%;
    font-size: 24px;
    font-family: cursive;
    color: black;
}


/*.......eight baloons..........*/
#b1,#b2,#b3,#b4,#b5,#b6,#b7,#b8{
    width: 84px;

}

/*......two lists(each list has four baloons)......*/
#ul1{
    display: inline-flex;
    position: relative;
    left: 145px;
    top: 56px;
    animation: firstanim 3s infinite;
}
#ul2{
    display: inline-flex;
    position: relative;
    left: 243px;
    top: -251px;
    animation: secondanim 3s infinite;
}

ul>li{
    padding: 50px;
    list-style: none;
}

/*......main topics......*/

#Tnoun,#Tverb,#Tpronoun,#Tadver,#Tadj,#Tconj,#Tinter,#Tprepo{
    font-family: cursive;
    font-size: 35px;
    color: white;
    margin-left: 67px;
    margin-top: 62px;
    background-color: black;

}

/*.........topic div.........    */

#tdiv1,#tdiv2,#tdiv3,#tdiv4,#tdiv5,#tdiv6,#tdiv7,#tdiv8{
    background-color: #e49292;
    height: 421px;
    display: flow-root;
    position: relative;
    top: -17vw;
}




/*..........topic paragraphs........*/

#paranoun,#paraverb,#parapronoun,#paraadj,#paraadver,#paraprepo,#paraconj,#parainter{
    font-family: cursive;
    font-size: 25px;
    margin-left: 20px;
    /*background-color: white;*/
}

/*.........noun examples.........*/
#noungif{
    width: 200px;
    position: absolute;
    top: 116px;
    right: 60px;
}

#nounex1{
    font-family: cursive;
    position: absolute;
    right: 268px;
    bottom: 218px;
    font-size: 20px;

}

#nounimg{
    width: 150px;
    position: absolute;
    right: 289px;
    top: 237px;

}

#nounex2{
    position: absolute;
    right: 90px;
    font-size: 20px;
    font-family: cursive;
    bottom: 5px;

}

/*.....verb example.....*/

#verbgif{
    width: 320px;
    position: absolute;
    right: 131px;
    top: 121px;
}

#verbex1{
    position: absolute;
    bottom: 3px;
    right: 141px;
    font-family: cursive;
    font-size: 20px;
}

/*adjective examples*/
#advgif{
    position: absolute;
    top: 124px;
    width: 340px;
    height: 239px;
    right: 50px;
}

#advex1{
    position: absolute;
    bottom: -10px;
    font-size: 20px;
    font-family: cursive;
    right: 167px;
}

/*.....conjunction examples....*/
#conjgif{
    width: 313px;
    position: absolute;
    right: 51px;
    top: 141px;
}

#conjex1{
    font-size: 20px;
    font-family: cursive;
    position: absolute;
    right: 55px;
    bottom: -2px;
}

/*.....preposition examples......*/
#preposimg1{
    position: absolute;
    right: 343px;
    top: 136px;
    width: 122px;
}

#preposimg2{
    width: 100px;
    position: absolute;
    top: 113px;
    right: 280px;
    animation: thirdanim 3s infinite;


}

#preposex1{
    font-family: cursive;
    font-size: 20px;
    position: absolute;
    right: 9px;
    top: 176px;
}

/*interjection examples*/

#interimg{
    position: absolute;
    top: 129px;
    width: 176px;
    right: 274px;
}
#interex{
    font-family: cursive;
    font-size: 20px;
    position: absolute;
    right: 29px;
    bottom: 105px;
}


/*adjective examples*/
#adjimage {
    position: absolute;
    width: 293px;
    right: 102px;
    top: 201px;
}

#adjex1{
    position: absolute;
    font-size: 20px;
    font-family: cursive;
    right: 395px;
    bottom: 76px;
}

#adjex2 {
    position: absolute;
    font-size: 20px;
    font-family: cursive;
    right: 24px;
    bottom: 82px;
}

/*pronouns examples*/
#pronounimg{
    position: absolute;
    width: 230px;
    right: 134px;
    top: 117px;
}
#pronounex{
    position: absolute;
    font-size: 20px;
    font-family: cursive;
    right: 92px;
    bottom: -2px;
}
/*summary of lesson*/
#summarydiv {
    position: relative;
    background-color: white;
    width: 99%;
}
#summarytopic{
    font-family: cursive;
    font-size: 26px;
    position: absolute;
    left: 37%;
    top: 45px;

}

#summaryimg{
    width: 800px;
    position: absolute;
    top: 170px;
    left: 0;
    right: 0;
    margin: auto;
}

footer {
    width: 100%;
    height: 48px;
    background-color: #6e3e45;
    color: black;
    position: relative;
    z-index: 4;
    top: 867px;
}

#footercontent{
    position: absolute;
    bottom: 0px;
    font-size: 15px;
    right: 10px;
    color: white;

}

#footermain {
    position: absolute;
    bottom: -6px;
    font-size: 19px;
    /* right: 31vw; */
    left: 1vw;
    color: black;
    font-family: cursive;
}



/*transition*/
#noun,#verb,#pron,#adj,#adv,#prepo,#conj,#inter{
    transition: color,font-size 1s;
}

#inter:hover{
    color: darkred;
    font-size: 30px;
}
#conj:hover{
    color: darkred;
    font-size: 30px;
}
#noun:hover{
    color: darkred;
    font-size: 30px;
}
#verb:hover{
    color: darkred;
    font-size: 30px;
}
#pron:hover{
    color: darkred;
    font-size: 30px;
}
#adj:hover{
    color: darkred;
    font-size: 30px;
}
#adv:hover{
    color: darkred;
    font-size: 30px;
}
#prepo:hover{
    color: darkred;
    font-size: 30px;
}

/*..........keyframes.........*/

@keyframes firstanim {
    0% {
        position: relative;
        left: 145px;
        top: 56px;

    }
    50% {
        display: inline-flex;
        position: relative;
        left: 145px;
        top: 100px;

    }

    100% {
        position: relative;
        left: 145px;
        top: 56px;

    }
}
@keyframes secondanim{
    0%{
        display: inline-flex;
        position: relative;
        left: 243px;
        top: -251px;
    }

    50%{
        display: inline-flex;
        position: relative;
        left: 243px;
        top: -295px;
    }

    100%{
        display: inline-flex;
        position: relative;
        left: 243px;
        top: -251px;

    }

}

@keyframes thirdanim{
    0%{
        width: 100px;
        position: absolute;
        top: 113px;
        right: 280px;
    }
    50%{
        width: 105px;
        position: absolute;
        top: 95px;
        right: 278px;
    }
    100%{
        width: 100px;
        position: absolute;
        top: 113px;
        right: 280px;
    }

}

/*responsive*/

@media(min-width: 320px)and (max-width: 375px) {
    header {
        background-color: #e49292;
        height: 32px;
        width: 100%;
        /* margin-top: 29px; */
        position: fixed;
        z-index: 3;
    }
    header>img {
        height: 63px;
        position: absolute;
        top: -8px;
        left: 6px;
    }
    #hedder_topic{
        font-size: 12px;
        position: fixed;
        left: 69px;
        font-family: cursive;
        color: white;
    }

    #back1 {
        width: 100%;
        margin-top: 31px;
    }

    body>div {
        width: 100%;
        height: 40px;
        background-color: #e49292;
        position: relative;
        top: -42px;
        z-index: 1;
    }

    #maintopic {
        font-family: cursive;
        position: absolute;
        left: 20px;
        font-size: 22px;
        top: 212px;
    }


    #p1 {
        font-family: cursive;
        font-size: 18px;
        position: absolute;
        left: 20px;
        top: 254px;
    }


    #list1 {
        position: absolute;
        top: 397px;
        left: 5px;
        font-size: 15px;
        font-family: cursive;
        color: black;
    }

    #Tnoun, #Tverb, #Tpronoun, #Tadver, #Tadj, #Tconj, #Tinter, #Tprepo {
        font-family: cursive;
        font-size: 21px;
        color: white;
        margin-left: 23px;
        margin-top: 34px;
        background-color: black;
    }


    #paranoun, #paraverb, #parapronoun, #paraadj, #paraadver, #paraprepo, #paraconj, #parainter {
        font-family: cursive;
        font-size: 13px;
        margin-left: 11px;
        /* background-color: white; */
    }


    #nounimg {
        width: 113px;
        position: absolute;
        right: 174px;
        top: 284px;
    }

    #noungif {
        width: 130px;
        position: absolute;
        top: 179px;
        right: 32px;
    }

    #nounex1 {
        font-family: cursive;
        position: absolute;
        right: 172px;
        bottom: 131px;
        font-size: 17px;
    }

    #nounex2 {
        position: absolute;
        right: 7px;
        font-size: 17px;
        font-family: cursive;
        bottom: 5px;
    }

    #verbgif {
        width: 209px;
        position: absolute;
        right: 66px;
        top: 228px;
    }

    #verbex1 {
        position: absolute;
        bottom: -10px;
        right: 44px;
        font-family: cursive;
        font-size: 17px;
    }

    #pronounimg {
        position: absolute;
        width: 155px;
        right: 86px;
        top: 214px;
    }

    #pronounex {
        position: absolute;
        font-size: 17px;
        font-family: cursive;
        right: 36px;
        bottom: -11px;
    }


    #adjimage {
        position: absolute;
        width: 189px;
        right: 71px;
        top: 223px;
    }


    #adjex2 {
        position: absolute;
        font-size: 17px;
        font-family: cursive;
        right: 8px;
        bottom: 93px;
    }

    #adjex1 {
        position: absolute;
        font-size: 17px;
        font-family: cursive;
        right: 250px;
        bottom: 99px;
    }

    #advgif {
        position: absolute;
        top: 220px;
        width: 229px;
        height: 155px;
        right: 50px;
    }

    #advex1 {
        position: absolute;
        bottom: -14px;
        font-size: 17px;
        font-family: cursive;
        right: 131px;
    }

    #conjgif {
        width: 216px;
        position: absolute;
        right: 53px;
        top: 234px;
    }

    #conjex1 {
        font-size: 17px;
        font-family: cursive;
        position: absolute;
        right: 37px;
        bottom: -13px;
    }

    #interimg {
        position: absolute;
        top: 215px;
        width: 109px;
        right: 198px;
    }

    #interex {
        font-family: cursive;
        font-size: 17px;
        position: absolute;
        right: 10px;
        bottom: 20px;
    }


    #summarytopic {
        font-family: cursive;
        font-size: 18px;
        position: absolute;
        left: 24%;
        top: 21px;
    }


    #summaryimg {
        width: 258px;
        height: 303px;
        position: absolute;
        top: 82px;
        left: 31px;
    }

    #summarydiv {
        position: absolute;
        top: 3860px;
        height: 410px;
        background-color: #e4d6d6;
    }
    footer {
        width: 100%;
        height: 41px;
        background-color: #6e3e45;
        color: black;
        position: relative;
        z-index: 4;
        top: 483px;
    }

    #footercontent {
        position: absolute;
        bottom: 0px;
        font-size: 11px;
        right: 10px;
        color: white;
    }


    #preposimg2 {
        width: 93px;
        position: absolute;
        top: 236px;
        right: 16px;
        animation: thirdanim 3s infinite;
    }

    @keyframes thirdanim{
        0%{
            width: 93px;
            position: absolute;
            top: 236px;
            right: 16px;
        }
        50%{
            width: 98px;
            position: absolute;
            top: 218px;
            right: 14px;
        }
        100%{
            width: 93px;
            position: absolute;
            top: 236px;
            right: 16px;
        }

    }
    #preposimg1 {
        position: absolute;
        right: 67PX;
        top: 242px;
        width: 88px;
    }

    #preposex1 {
        font-family: cursive;
        font-size: 17px;
        position: absolute;
        right: 13px;
        top: 192px;
    }


    #tdiv1, #tdiv2, #tdiv3, #tdiv4, #tdiv5, #tdiv6, #tdiv7, #tdiv8 {
        background-color: #e49292;
        height: 400px;
        display: flow-root;
        position: relative;
        top: 76px;
    }





    #ul1 {
        display: inline-flex;
        position: relative;
        left: -45px;
        top: 272px;
        animation: firstanim 3s infinite;
    }






    #ul2 {
        display: inline-flex;
        position: relative;
        left: -5px;
        top: 106px;
        animation: secondanim 3s infinite;
    }


    ul>li {
        padding: 15px;
        list-style: none;
    }

    #b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8 {
        width: 38px;
    }




    @keyframes firstanim {
        0% {
            position: relative;
            left: 4px;
            top: 272px;

        }
        50% {
            display: inline-flex;
            position: relative;
            left: 4px;
            top: 310px;

        }

        100% {
            position: relative;
            left: 4px;
            top: 272px;

        }
    }
    @keyframes secondanim{
        0%{
            display: inline-flex;
            position: relative;
            left: 4px;
            top: 106px;
        }

        50%{
            display: inline-flex;
            position: relative;
            left: 4px;
            top: 68px;
        }

        100%{
            display: inline-flex;
            position: relative;
            left: 4px;
            top: 106px;

        }

    }


}

#logout{
    position: absolute;
    color: white;
    font-family: cursive;
    left: 89vw;
    font-size: 23px;
    cursor: pointer;
}


/*#userdetails{*/
/*    position: absolute;*/
/*    color: black;*/
/*    font-family: cursive;*/
/*    left: 76vw;*/
/*    font-size: 23px;*/
/*    cursor: pointer;*/
/*}*/
