header {
    background-color:rgba(80,83,89,0.91);
    height: 54px;
    width: 100%;
    /* margin-top: 29px; */
    position: fixed;
    z-index: 3;
}

#headerh1{
    font-size: 24px;
    position: fixed;
    left: 131px;
    font-family: cursive;
    color: white;

}

#quiz_back{
    width: 75%;
    height: 450px;
    position: relative;
    left: 0;
    right: 0;
    top: 5vw;
    margin: auto;
}

#quiz1_div {
    position: relative;
    width: 44%;
    left: 0;
    right: 0;
    top: 100px;
    margin: auto;
}

#quiz2_div{
    position: relative;
    width: 44%;
    left: 0;
    right: 0;
    top: 160px;
    margin: auto;
}

#quiz_back>img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 75%;
    height: 430px;
    opacity: 95%;
}

#quiz_maintopic{
    position: absolute;
    left: 29%;
    top: 4vw;
    font-family: cursive;
    font-size: 40px;
}

#quiz_list{
    font-size: 45px;
    position: absolute;
    top: 28%;
    left: 18%;
    color: white;
    font-family:cursive;
}

.que{
    font-size: 20px;
}

#after_submit,#after_tenses_submit{
    visibility: hidden;
}

#quiz1form{
    background-color: rgba(148,178,203,0.54);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

#msg,#tenses_msg{
    font-size: 20px;
    color: darkred;
    font-family: cursive;

}

#result,#tenses_result{
    font-size: 18px;
    color: black;
    font-family: cursive;

}

.button{
    background-color: rgba(234,171,62,0.91);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: cursive;
    transition: background-color 1s;
}


#quiz2form{
    background-color: rgba(235,186,176,0.91);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;

}


.button:hover{
    background-color: green;
    cursor: pointer;
}

#nadj{
    color: red;
}
