     *{
       
        box-sizing: border-box;
    }
    body{
        margin: 20px;
    }
   /* html
	{
	 height:100%;
	}*/
	body{
        font-family: 'Segoe UI', sans-serif;;
        font-size: 1rem;
        line-height: 1.6;
        height: 100%;
    }
	.wrap
	{
		width: 100%;
        height: 100%;
        ay: flex;
		 
		background: #fafafa;
	}
	.loginForm
	{
		width: 350px;
        margin: auto;
        border: 1px solid #ddd;
        padding: 2rem;
        background: #ffffff;
	}
	.header
	{
		text-align: left;
        margin-bottom : 2rem;
	}
	.input
	{
		background: #fafafa;
        border: 1px solid #eeeeee;
        padding: 12px;
		width: 100%;
	}
	.grp
	{
	 width: 100%;
	 
	}
